.typo {
  font-size: 62.5%;

  &--poppins {
    &-base {
      font: normal normal 500 1.7rem/2.4rem Open Sans; // i wont import google sans or poppins (design view != design specs)
    }
  }

  &--center {
    text-align: center !important;
  }

  &--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--wrap {
    white-space: pre-wrap;
  }

  &--nowarp {
    text-wrap: nowrap;
  }
}
